# Ignore Python cache and database (for backend)
backend/__pycache__/
backend/cert/

# Ignore environment files (for backend)
backend/.env
backend/users.db
# Ignore Node modules and build artifacts (for frontend)
frontend/my-login-app/node_modules/
frontend/my-login-app/dist/
frontend/my-login-app/.env.local
frontend/my-login-app/.env.*.local
frontend/my-login-app/*.pem

# Common
*.pyc
.DS_Store
.env
.cache_ggshield

