.signup-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}
.signup-form input, .signup-form button {
    margin-bottom: 12px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border-color: black;
}
